<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />
<!-- 	<context:component-scan base-package="com"/> -->
	<context:spring-configured></context:spring-configured>
	<bean   class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>../../../../../resources/userinfo.properties</value>
				 <value>../../../../../resources/configure.properties</value>
			</list>
		</property>
	</bean>   
	
	<!-- 对SPRING的扩展：对实例扩展 -->
	<bean class="com.demoioc.bean.postprocessor.MyTestBeanFactoryPostProcessor" id="test"/>
	<!-- 对SPRING的扩展：对factoryBean的扩展 -->
	<bean id="car" class="com.demoioc.bean.postprocessor.MyTestCarFactoryBean">
          <property name="carInfo" value="123,${test.name}"/> 
	</bean> 
</beans>
